<!DOCTYPE html>
<html lang="en">
    <link   rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
          
<head>
    <meta charset="UTF-8">
    <title>Final landing</title>
</head>
<body>
<div class="center">



Please click <a href='https://drive.google.com/drive/folders/{{ id }}'>here</a> and download your desired folder.
    
</div>
<style>
    body{
        background-color: rgba(0, 0, 0, 0.788);
        color: white;
    }
    .center{
        padding: 20% 0 0 35vw;
    }
</style>
</body>
</html>
