<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Selector</title>
</head>
<body>
<p> Please select the desired course: (SecA only)</p>
<form action= "/select_course" method= "post">
    <p><input type="radio" name="course" value="maths">Maths </p>
    <p><input type="radio" name="course" value="dc">DC </p>
    <p><input type="radio" name="course" value="ip">IP </p>
    <p><input type="radio" name="course" value="ihci">IHCI </p>
    <p><input type="submit" value="Submit" /></p>
    <p>Please wait for the server to fetch files after you click submit.</p>
</form>
</body>
</html>
